

html {
    height: 100%;
}

.body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: aqua;
}

  .section {
    height: 100%;
    padding-top: 20px;
    
}
.body h1{
    color:red;
}
h1 
{
    color:white;
}