html {
    height: 100%;
}

.body {
    margin: 0;
    padding: 0;
    /* height: auto; */
    background-color: aqua;
}

.section {
    height: 100%;
    padding-top: 20px;
}

.section  {
    color: white;
}
.section ss {
    top: 80%;
}
.section ss h1{
    color: white;
}